// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Our colors:
$black : #020202;
$orange : #F74C20;
$light-orange : #F97250;
$abricot : #FFCEB0;
$pink : #FCE0DC;
$light-pink : #FCE0DC30;
$tangerine : #F4A28C;
$extra-light-pink: #FFF9F9;
$navy : #020919;
$white : white;
