// Specific CSS for your home-page
// body {
//   margin-top: 100px;
// }

.title {
  color: white;
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}

@media(min-width:1201px){
  .title {
    font-size: 15rem;
    left: 0;
    right: 0;
    bottom: 6px;
  }
}

@media(max-width:1200px){
  .title {
    font-size: 12rem;
    left: 0;
    right: 0;
    bottom: 6px;
  }
}

@media(max-width:992px){
  .title {
    font-size: 9rem;
    left: 0;
    right: 0;
    bottom: 6px;
  }
}

@media(max-width:768px){
  .title {
    font-size: 8rem;
    left: 0;
    right: 0;
    bottom: 6px;
  }
}

@media(max-width:414px){
  .title {
    font-size: 4.4rem;
    left: 0;
    right: 0;
    bottom: 6px;
  }
}
