<div class="container-chef">
<h3>Découvre nos chefs FoodClass.</h3>
  <div class="slider">
    <div class="wrapper-circle" data-carousel-chefs-target="wrapper">
      <div class="card card-color">
        <div class="title">
          <h4>Chef 1</h4>
        </div>
        <p class="text">Lorem ipsum dolor sit amet bla bla bla bla</p>
      </div>
      <div class="card card-color-reverse">
        <div class="title"><h4>Chef 2</h4></div>
        <p class="text">Lorem ipsum dolor sit amet bla bla bla bla</p>
      </div>
      <div class="card card-color">
        <div class="title"><h4>Chef 3</h4></div>
        <p class="text">Lorem ipsum dolor sit amet bla bla bla bla</p>
      </div>
      <div class="card card-color-reverse">
        <div class="title"><h4>Chef 4</h4></div>
        <p class="text">Lorem ipsum dolor sit amet bla bla bla bla</p>
      </div>
      <div class="card card-color">
        <div class="title"><h4>Chef 5</h4></div>
        <p class="text">Lorem ipsum dolor sit amet bla bla bla bla</p>
      </div>
      <div class="card card-color-reverse">
        <div class="title"><h4>Chef 6</h4></div>
        <p class="text">Lorem ipsum dolor sit amet bla bla bla bla</p>
      </div>
      <div class="card card-color-reverse">
        <div class="title"><h4>Chef 7</h4></div>
        <p class="text">Lorem ipsum dolor sit amet bla bla bla bla</p>
      </div>
      <div class="card card-color">
        <div class="title"><h4>Chef 8</h4></div>
        <p class="text">Lorem ipsum dolor sit amet bla bla bla bla</p>
      </div>
      <div class="card card-color">
        <div class="title"><h4>Chef 9</h4></div>
        <p class="text">Lorem ipsum dolor sit amet bla bla bla bla</p>
      </div>
    </div>
    <span id="button-next"><%= image_tag('arrow.png') %></span>
    <span id="button-prev"><%= image_tag('arrow.png') %></span>
  </div>
</div>
