<body style="background-color: #FFF9F9;">
<div class="main-banner">
  <h1 class="title" data-controller="title" data-action="scroll@window->title#updateTitleSize">FoodClass.</h1>
</div>
<div class="main-banner-md">
  <h1 class="title" data-controller="title" data-action="scroll@window->title#updateTitleSize">FoodClass.</h1>
</div>
<div class="main-banner-sd">
  <h1 class="title" data-controller="title" data-action="scroll@window->title#updateTitleSize">FoodClass.</h1>
</div>
<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>


  <%= link_to "Voir tous les cours", courses_path  %>
</div>
<%= render 'shared/footer' %>
