* {
  box-sizing: border-box;
}

.container-chef {
  width: 100%;
  height: 400px;
}
.card {
  width: 220px;
  height: 300px;
  box-shadow: 0px 0px 5px rgba(0,0,0, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  padding: 20px;

  h4 {
    color: $orange;
    position: absolute;
    top: -253px;
    left: 24%;
  }
}

.card:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: calc(50% - 110px);
}
.card:nth-of-type(2) {
  position: absolute;
  top: calc(50% - 2637px);
  left: 2276px;
  transform: rotate(-6deg)
}
.card:nth-of-type(3) {
  position: absolute;
  top: calc(50% - 2597px);
  left: 2017px;
  transform: rotate(-12deg);
}
.card:nth-of-type(4) {
  position: absolute;
  top: calc(50% - 2638px);
  right: 2276px;
  transform: rotate(6deg)
}
.card:nth-of-type(5) {
  position: absolute;
  top: calc(50% - 2597px);
  right: 2017px;
  transform: rotate(12deg);
}
.card:nth-of-type(6) {
  position: absolute;
  top: calc(50% - 2529px);
  left: 1761px;
  transform: rotate(-18deg);
}
.card:nth-of-type(7) {
  position: absolute;
  top: calc(50% - 2529px);
  right: 1761px;
  transform: rotate(18deg);
}
.card:nth-of-type(8) {
  position: absolute;
  top: calc(50% - 2436px);
  right: 1517px;
  transform: rotate(24deg);
}
.card:nth-of-type(9) {
  position: absolute;
  top: calc(50% - 2436px);
  left: 1517px;
  transform: rotate(-24deg);
}

.card .title {
  margin-bottom: 20px;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrapper-circle {
  width: 5300px;
  height: 5300px;
  position: absolute;
  left: calc(50% - 2650px);
  top: 3%;
  transform-origin: center;
  transition: all 0.3s ease-in-out;
}

#button-prev,
#button-next {
  position: absolute;
  top: 49%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(min-width:768px){
  #button-prev {
    position: absolute;
    top: 80%;
    left: 53%;
    img {
      width: 57px;
      height: 25px;
    }
  }
  #button-next {
    position: absolute;
    top: 80%;
    right: 52%;
    img {
      width: 57px;
      height: 25px;
      transform: rotate(-180deg);
    }
  }

}
@media(max-width:768px){
  #button-prev {
    position: absolute;
    top: 80%;
    left: 56%;
    img {
      width: 57px;
      height: 25px;
    }
  }
  #button-next {
    position: absolute;
    top: 80%;
    right: 56%;
    img {
      width: 57px;
      height: 25px;
      transform: rotate(-180deg);
    }
  }
}
