.background-color {
  background-color: white;
}

#show-title {
  margin: 128px auto 10px;
  color: $navy;
  text-align: center;
}
.container-title {
  text-align: center;
}

.highlight-title {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 48%, #FFCEB0 48%);
  display: inline-block;
}

.highlight-seconde-title {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 62%, $tangerine 67%);
  display: inline-block;
}

.second-title {
  z-index: 100;
  position: relative;

  h3{
    position: relative;
    margin: 100px auto 40px;
    text-align: center;
  }
}


.flex-title-show {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  p {
    margin-right: 10px;
  }
  .button-book {
    margin-left: 10px;
  }
}

.main-checkbox {
  padding-top: 30px;
  max-height: 100px;
 &.past_courses {
   input[type="checkbox"] {
     display: none;
    }
 }
 h3 {
  border-left: 5px solid $orange;
  padding-left: 16px;
  }
}

.chef-detail {
  display: flex;

  h3 {
    border-left: 5px solid $orange;
    padding-left: 16px;
  }
}

.chef-detail p {
  padding-left: 22px;
  margin-bottom: 5px;
}

.flex-photo-description {
  display: flex;
}

.card-show-infos {
  margin-top: 30px;
}

.card-show-infos p {
  padding-left: 22px;
  margin-bottom: 5px;
}



.card-description {
  padding-left: 30px;
}

.detail-checkbox {
  padding-left: 22px;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background-color: #d5d5d5;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

label {
  color: #4c4c4c;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  padding-left: 10px;
}

.checkbox {
  display: flex;
}

input[type="checkbox"]:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  font-size: 10px;
  color: white;
  display: none;

}

input[type="checkbox"]:hover {
  background-color: #a5a5a5;
}

input[type="checkbox"]:checked {
  background-color: $orange;
}

input[type="checkbox"]:checked:after {
  display: block;
}

.card-show-post {
  box-shadow: 0px 0px 5px rgba(0,0,0, 0.1);
  border-radius: 4px;
  font-family: $body-font;
  background-color: white;
  padding: 20px;
}

.background-color {
  background-color: #fff9f9;
}

@media(min-width:1201px){
  .card-course-lg {
    display: contents;
  }
  .card-course-md-sd {
    display: none;
  }
  .photo-course {
    height: 80vh;
    width: 43vw;
    object-fit: cover;
  }

  .card-show-post {
    position: relative;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 20px;
  }

  .avatar-chef-md-sd {
    display: none;
  }
  .background-shape img {
    width: 100%;
    background-size: cover;
    position: absolute;
    top: -716px;
    bottom: 0;
    z-index: 0;
  }

}

@media(max-width:1200px){
  .card-course-lg {
    display: contents;
  }
  .card-course-md-sd {
    display: none;
  }
  .photo-course {
    height: 80vh;
    width: 43vw;
    object-fit: cover;
  }

  .avatar-chef-md-sd {
    display: none;
  }
  .background-shape img {
    width: 100%;
    background-size: cover;
    position: absolute;
    top: -673px;
    bottom: 0;
    z-index: 0;
  }

}

@media(max-width:992px){
  .card-course-lg {
    display: none;
  }
  .card-course-md-sd {
    display: flex;
  }

  .card-description {
    padding-left: 0px;
    margin-top: 32px;
  }
  .photo-course {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .flex-title-show {
    width: 100%;
  }
  .btn-flex {
    padding: 0px 0px;
  }
  .flex-title-show {
    display: flex;
    justify-content: center;
  }
  .avatar-chef {
    display: none;
  }
  .second-title h3 {
    position: relative;
    margin: 220px auto 40px;
    text-align: center;
  }

  .avatar-chef-md-sd {
    display: flex;
  }
  .background-shape img {
    width: 100%;
    background-size: cover;
    position: absolute;
    top: -510px;
    bottom: 0;
    z-index: 0;
  }

}

@media(max-width:768px){
  .card-course-lg {
    display: none;
  }
  .card-course-md-sd {
    display: contents;
  }

  .second-title h3 {
    position: relative;
    margin: 201px auto 10px;
    text-align: center;
  }

  .card-description {
    padding-left: 0px;
    margin-top: 32px;
  }
  .photo-course {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .flex-title-show {
    width: 100%;
  }
  .btn-flex {
    padding: 0px 0px;
  }
  .flex-title-show {
    display: flex;
    justify-content: center;
  }
  .avatar-chef {
    display: none;
  }

  .avatar-chef-md-sd {
    display: flex;
  }
  .background-shape img {
    width: 100%;
    background-size: cover;
    position: absolute;
    top: -452px;
    bottom: 0;
    z-index: 0;
  }

}

@media(max-width:414px){
  .card-course-lg  {
    display: none;
  }

  .flex-md-sd {
    display: flex;
  }

  .card-course-md-sd {
    display: contents;
  }

  .card-description {
    padding-left: 0px;
    margin-top: 32px;
  }
  .photo-course {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .flex-title-show {
    width: 100%;
  }
  .btn-flex {
    padding: 0px 0px;
  }
  .flex-title-show {
    display: flex;
    justify-content: center;
  }

  .avatar-chef {
    display: none;
  }

  .avatar-chef-md-sd {
    display: block;
  }
  .background-shape img {
    width: 100%;
    background-size: cover;
    position: absolute;
    top: -260px;
    bottom: 0;
    z-index: 0;
  }

}
