.navbar-layout {
  display: flex;
  justify-content: space-between;
}

.navbar-layout-links {
  display: flex;
}

.navbar-foodclass {
  height: 75px;
  a {
    // pour aligner verticalement le texte dans la navbar
    height: 75px;
    align-items: center;
    display: flex;
  }
}

@media(max-width:414px){
  .container-foodclass {
    margin: 0px 20px;
  }

  .navbar-layout {
    display: flex;
    justify-content: center;
  }

  .navbar-layout-links {
    display: none;
  }
}

@media(max-width:768px){
  .container-foodclass {
    margin: 0px 40px;
  }

  .navbar-layout {
    display: flex;
    justify-content: center;
  }

  .navbar-layout-links {
    display: none;
  }
}

@media(max-width:992px){
  .container-foodclass {
    margin: 0px 50px;
  }

  .navbar-layout {
    display: flex;
    justify-content: center;
  }

  .navbar-layout-links {
    display: none;
  }
}

@media(max-width:1200px){
  .container-foodclass {
    margin: 0px 60px;
  }

  .navbar-layout-links {
    width: 350px;
    font-size: 14px;
  }
}

@media(min-width:1201px){
  .container-foodclass {
    margin: 0px 60px;
  }

  .navbar-layout-links {
    width: 380px;
    font-size: 14px;
  }
}
