.navbar-layout {
  display: flex;
  justify-content: space-between;
}

.navbar-layout-sd-md {
  display: flex;
  justify-content: space-between;
}

.navbar-brand-ld {
  font-size: 1.5rem;
}

.navbar-layout-links-first {
  display: flex;
  justify-content: flex-start;
}

.navbar-layout-links-last {
  display: flex;
  justify-content: flex-end;
}

.navbar-layout-sd-md {
  display: flex;
  justify-content: flex-end;
}

.navbar-foodclass {
  height: 75px;
  a {
    // pour aligner verticalement le texte dans la navbar
    height: 75px;
    align-items: center;
    display: flex;
  }
}

@media(max-width:414px){
  .container-foodclass {
    margin: 0px 20px;
  }

  .navbar-layout-links-first {
    display: none;
  }

  .navbar-layout-links-last {
    display: none;
  }

  .navbar-brand-ld {
    display: none;
  }

  .navbar-brand-sd-md {
    position: absolute;
    left: calc(50vw - 67px);
    a {
      font-size: 1.3rem;
    }
  }

  #dropdown-link-sd-md {
    width: 140px;
    display: flex;
    justify-content: flex-end;
  }

}

@media(max-width:768px){
  .container-foodclass {
    margin: 0px 40px;
  }

  .navbar-layout-links-first {
    display: none;
  }

  .navbar-layout-links-last {
    display: none;
  }

  .navbar-brand-ld {
    display: none;
  }

  .navbar-brand-sd-md {
    position: absolute;
    left: calc(50vw - 67px);
    a {
      font-size: 1.3rem;
    }
  }

  #dropdown-link-sd-md {
    width: 140px;
    display: flex;
    justify-content: flex-end;
  }
}

@media(min-width:993px){
  .dropdown-md-sd {
    display: none;
  }
}

@media(max-width:992px){
  .container-foodclass {
    margin: 0px 50px;
  }

  .navbar-layout-links-first {
    display: none;
  }

  .navbar-layout-links-last {
    display: none;
  }

  .navbar-brand-ld {
    display: none;
  }

  .navbar-brand-sd-md {
    font-size: 1.5rem;
  }

  .navbar-brand-sd-md {
    position: absolute;
    left: calc(50vw - 67px);
    a {
      font-size: 1.3rem;
    }
  }

  #dropdown-link-sd-md {
    width: 140px;
    display: flex;
    justify-content: flex-end;
  }

}

@media(max-width:1200px){
  .container-foodclass {
    margin: 0px 60px;
  }

  .navbar-layout-links-first {
    width: 350px;
    font-size: 14px;
  }

  .navbar-layout-links-last {
    width: 350px;
    font-size: 14px;
  }
}

@media(min-width:1201px){
  .container-foodclass {
    margin: 0px 60px;
  }

  .navbar-layout-links-first {
    width: 380px;
    font-size: 14px;
  }

  .navbar-layout-links-last {
    width: 380px;
    font-size: 14px;
  }
}
