@media(max-width:414px){
  .container-foodclass {
    margin: 0px 20px;
  }
}

@media(min-width:414px){
  .container-foodclass {
    margin: 0px 30px;
  }
}

@media(min-width:768px){
  .container-foodclass {
    margin: 0px 40px;
  }
}

@media(min-width:992px){
  .container-foodclass {
    margin: 0px 50px;
  }
}

@media(min-width:1200px){
  .container-foodclass {
    margin: 0px 60px;
  }
}
