@media(max-width:414px){
  .container-foodclass {
    padding: 0px 10px;
    margin: 0;
  }
}

@media(min-width:414px){
  .container-foodclass {
    padding: 0px 10px;
    margin: 0px 15px;
  }
}

@media(min-width:768px){
  .container-foodclass {
    padding: 0px 15px;
  }
}

@media(min-width:992px){
  .container-foodclass {
    padding: 0px 20px;
  }
}

@media(min-width:1200px){
  .container-foodclass {
    padding: 0px 20px;
  }
}
