<div class="container">
  <div id="title-apropos">
    <h3>A propos de FoodClass.</h3>
  </div>
  <div id="mission-foodclass-title">
    <h4>Notre <span id="highlight-mission">mission</span></h4>
  </div>
  <div id="flex-mission-box">
    <div id="background-mission-shape">
      <%= image_tag('shape-mission.png') %>
    </div>
    <p>Chez FoodClass, nous avons la conviction que bien cuisiner est à la portée de tous.
    <br>
    <br>
    Notre mission est de vous proposer une expérience unique de cuisine à domicile en vous offrant un moment de partage inoubliable avec un chef en live !
    Avec FoodClass, vous aiguisez vos connaissances culinaires sans vous ruiner.</p>
    <%= image_tag("mariemaxime.png") %>
  </div>
  <div class="box-border-ambition">
    <div id="ambition-foodclass-title">
      <h4>Notre <span id="highlight-ambition">ambition</span></h4>
    </div>
  </div>
    <div id="ambition-foodclass-text">
      <p>Fondé en 2022 par Marie Sepanik et Maxime Plasse, notre ambition est de devenir le lieu de rencontre incontestable entre tous les amateurs de cuisine, la plateforme de référence de cours de cuisine en ligne et en live.
      <br>
      <br>
      Pour cela, nous souhaitons donner la possibilité à tout le monde de devenir chef sur notre plateforme car notre projet est avant tout un projet social.
      Le principe est simple : inscrivez vous, suivez les cours, faites vos preuves, et devenez chef !</p>
    </div>
  <div id="valeurs-foodclass-title">
    <h4>Nos <span id="highlight-valeurs">valeurs</span></h4>
  </div>
</div>
